<div class="yosm__container">
  <form class="to-enable-firefox-custom-search">
    <mat-toolbar color="secondary" class="search__toolbar mat-elevation-z3" #toolbarElement>
      <a href="/" class="search__logo-wrapper">
        <img class="search__logo" src="assets/img/logo.svg" alt="YellowOSM - Open Locations">
      </a>
      <mat-form-field [floatLabel]="'never'" class="search__input">
        <input type="text" matInput placeholder="z.B. Café, Apotheke, Bankomat, Bar..."
               [formControl]="searchFormControl"
               [matAutocomplete]="auto" #searchInput [matAutocompleteConnectedTo]="origin"
               (keydown.enter)="searchElasticSearch()">
      </mat-form-field>
      <div class="search__button">
        <mat-icon *ngIf="searchFormControl.value" (click)="removeSearchText()" class="search__clear">close</mat-icon>
        <button type="submit">
          <mat-icon (click)="searchElasticSearch()">search</mat-icon>
        </button>
      </div>
    </mat-toolbar>
  </form>

  <div class="yosm__autocomplete-wrapper" matAutocompleteOrigin #origin="matAutocompleteOrigin"></div>

  <mat-autocomplete #auto="matAutocomplete" panelWidth="100%" class="mat-elevation-z3">
    <mat-option *ngFor="let option of filteredOptions | async" [value]="option" (click)="searchElasticSearch()">
      {{option}}
    </mat-option>
  </mat-autocomplete>

  <mat-chip-list class="yosm__filters" *ngIf="searchFormControl.value">
    <mat-chip [color]="showOnlyOpenedLocations ? 'accent': 'standard'" selected
              (click)="toogleOpenedLocations()">jetzt geöffnet
    </mat-chip>
    <mat-chip [color]="showHeatmapLayer ? 'accent': 'standard'" selected
              (click)="toogleShowHeatmapLayer()">Heatmap
    </mat-chip>
  </mat-chip-list>

  <div [class]="searchInProgress ? 'spinner-wrapper active' : 'spinner-wrapper'">
    <mat-spinner></mat-spinner>
  </div>

  <div class="map__wrapper">
    <div id="map" class="map" #mapElement></div>
    <button mat-mini-fab (click)="switchLayers()" class="map__layers-button">
      <mat-icon aria-label="Kartendarstellung umschalten">layers</mat-icon>
    </button>
    <button mat-fab (click)="getLocation()" class="map__location-button">
      <mat-icon aria-label="Position finden">gps_fixed</mat-icon>
    </button>
    <div class="map__link map__osm-link">
      <a
        href="https://osm.org/#map={{previousUrlParams['zoom']}}/{{previousUrlParams['lat']}}/{{previousUrlParams['lon']}}"
        target="_blank">
        in OSM ansehen
      </a>
    </div>
    <div class="map__link map__contrib-link" [innerHTML]="activeMapAttribution">
    </div>
  </div>
</div>

<div
  [class]="getPanelsHideToggleClasses()"
  (click)="toggleHidePanels()"
>
  <mat-icon class="hidden">chevron_right</mat-icon>
  <mat-icon class="visible">chevron_left</mat-icon>
</div>

<app-location-list
  [features]="features"
  [selectedFeature]="selectedFeature"
  (selectFeature)="selectFeature($event)"
  [hidePanels]="hidePanels"
></app-location-list>

<app-location-detail
  [selectedFeature]="selectedFeature"
  [hidePanels]="hidePanels"
  (closeFeature)="closeFeature($event)"
></app-location-detail>

