<div class="yosm__container">
<mat-toolbar color="secondary" class="yosm__toolbar">
  <a href="/" class="yosm__logo-wrapper">
    <img class="yosm__logo" src="assets/img/logo.svg" alt="YellowOSM - Open Locations">
  </a>
  <mat-form-field [floatLabel]="'never'" class="yosm__search">
    <input type="text" matInput placeholder="z.B. Café, Apotheke, Bankomat, Bar..." [formControl]="searchFormControl"
           [matAutocomplete]="auto" #searchInput [matAutocompleteConnectedTo]="origin"
           (keydown.enter)="searchElasticSearch(); hideKeyboard()">
    <button mat-button *ngIf="searchFormControl.value" matSuffix mat-icon-button aria-label="Clear"
            (click)="searchFormControl.setValue(''); clearSearch()">
      <mat-icon>close</mat-icon>
    </button>
  </mat-form-field>

  <div class="yosm__search-button-wrapper">
    <mat-icon (click)="searchElasticSearch(); hideKeyboard()">search</mat-icon>
  </div>

</mat-toolbar>

<div class="yosm__autocomplete-wrapper" matAutocompleteOrigin #origin="matAutocompleteOrigin"></div>

<mat-autocomplete autoActiveFirstOption #auto="matAutocomplete" panelWidth="100%" >
  <mat-option *ngFor="let option of filteredOptions | async" [value]="option" (click)="searchElasticSearch()">
    {{option}}
  </mat-option>
</mat-autocomplete>

<div class="yosm__map-wrapper">
  <div id="map" class="map"></div>
  <div [className]="selectionDetails ? 'details__wrapper active' : 'details__wrapper'">
    <h2>{{selectionDetails}}</h2>
    <div class="details">
      <ng-container *ngFor="let key of detailKeys">
        <div class="detail__element" *ngIf="selectionLabels[key]">
          <span class="detail__label">{{ key }}: </span>
          <span class="detail__value" [innerHTML]="selectionLabels[key]"></span>
        </div>
      </ng-container>
      <div class="details__permalink" *ngIf="selectionPermaLink">
        Permalink: <a [href]="selectionPermaLink" target="_blank">{{selectionPermaLink}}</a>
      </div>
    </div>
  </div>
  <div class="footer">
    <a href="/">über YellowOSM</a>
    <a class="footer__osm-link"
       href="https://osm.org/#map={{previousUrlParams['zoom']}}/{{previousUrlParams['lat']}}/{{previousUrlParams['lon']}}"
       target="_blank">
      OSM-Link
    </a>
  </div>
</div>
</div>
