<div class="yosm__container">
  <div class="header">
    <a href="/">
      <img class="yosm__logo" src="assets/img/logo.svg" alt="YellowOSM - Open Locations">
    </a>
    <div class="yosm__search">
      <input type="text" placeholder="z.B. Café, Apotheke, Bankomat, Bar..." [(ngModel)]="userQuery"
             class="search__input" (keyup)="searchElasticSearch()" (keydown.enter)="hideKeyboard()" #searchInput>
      <i [className]="geoLocationLoading ? 'fa fa-crosshairs loading' : 'fa fa-crosshairs'" aria-hidden="true"
         (click)="getLocation()"></i>
    </div>
  </div>
  <div id="map" class="map"></div>
  <div [className]="selectionDetails ? 'details__wrapper active' : 'details__wrapper'">
    <h2>{{selectionDetails}}</h2>
    <div class="details">
      <ng-container *ngFor="let key of detailKeys">
        <div class="detail__element" *ngIf="selectionLabels[key]">
          <span class="detail__label">{{ key }}: </span>
          <span class="detail__value" [innerHTML]="selectionLabels[key]"></span>
        </div>
      </ng-container>
      <div class="details__permalink" *ngIf="selectionPermaLink">
        Permalink: <a [href]="selectionPermaLink" target="_blank">{{selectionPermaLink}}</a>
      </div>
    </div>
  </div>
  <div class="footer">
    <a href="/">über YellowOSM</a>
    <a class="footer__osm-link"
       href="https://osm.org/#map={{previousUrlParams['zoom']}}/{{previousUrlParams['lat']}}/{{previousUrlParams['lon']}}"
       target="_blank">
      OSM-Link
    </a>
  </div>
</div>
