<div
  [class]=getClasses()
  [style.top.px]="topPos"
  (panstart)="onPanStart($event)"
  (panmove)="onPan($event)">
  <div class="location-drag-icons">
    <mat-icon *ngIf="selectedFeature" (click)="emitCloseFeature()">close</mat-icon>
  </div>

  <div class="location-detail" *ngIf="selectedFeature">
    <h1>{{ labels['name'] }}</h1>
    <div class="clear"></div>
    <div class="location__properties">
<!--      <div *ngIf="labels['wifi']">-->
      <div >
        <mat-icon>wifi</mat-icon>
      </div>
      <div *ngIf="labels['smoking'] == 'yes'">
        <mat-icon>smoking_rooms</mat-icon>
      </div>
      <div *ngIf="labels['smoking'] == 'no'">
        <mat-icon>smoke_free</mat-icon>
      </div>
      <div *ngIf="labels['vegetarian'] == 'yes'">
        <img src="assets/icons/vegetarian.svg" alt="vegetarisch" class="location__icon">
      </div>
      <div *ngIf="labels['wheelchair'] == 'yes'">
        <img src="assets/icons/wheelchair-accessible.svg" alt="barrierefrei" class="location__icon">
      </div>
    </div>

    <ul class="location-detail__main">
      <li>
        <span *ngIf="locationSubType">{{ locationSubType }}</span>
        <span *ngIf="locationSubType && (open_now == true || open_now == false)"> ⋅ </span>
        <span class="location-open" *ngIf="open_now === true">jetzt geöffnet</span>
        <span class="location-closed" *ngIf="open_now === false">jetzt geschlossen</span>
        <span class="location-closed" *ngIf="(open_now === false) && open_next"> ⋅ öffnet wieder {{ open_next }}</span>
      </li>
      <li *ngIf="labels['address']">{{ labels['address'] }}</li>
    </ul>
    <div class="location-buttons">
      <div>
        <a [href]="'https://map.project-osrm.org/?loc=' + latLonStr + '&hl=de'" class="location-button"
           target="_blank" (click)="trackPoiAction('navigate')">
          <button mat-fab>
            <mat-icon>navigation</mat-icon>
          </button>
          <div class="label--mobile">Route</div>
          <a class="label--desktop">Route</a>
        </a>
      </div>
      <div *ngIf="labels['phone']">
        <a [href]="'tel:' + labels['phone']" class="location-button" (click)="trackPoiAction('phone')">
          <button mat-fab>
            <mat-icon>phone</mat-icon>
          </button>
          <div class="label--mobile">Anrufen</div>
          <a class="label--desktop">{{ labels['phone'] }}</a>
        </a>
      </div>
      <div *ngIf="labels['contact_email']">
        <a [href]="'mailto:' + labels['contact_email']" class="location-button" (click)="trackPoiAction('email')">
          <button mat-fab>
            <mat-icon>email</mat-icon>
          </button>
          <div class="label--mobile">E-Mail</div>
          <a class="label--desktop">{{ labels['contact_email'] }}</a>
        </a>
      </div>
      <div *ngIf="labels['website']">
        <a [href]="labels['website']" class="location-button" target="_blank" (click)="trackPoiAction('website')">
          <button mat-fab>
            <mat-icon>public</mat-icon>
          </button>
          <div class="label--mobile">Website</div>
          <a class="label--desktop">{{ labels['website'] }}</a>
        </a>
      </div>
    </div>
    <div class="details__hours" *ngIf="opening_hours_pretty">
      <span>Öffnungszeiten</span>
      <div [innerHTML]="opening_hours_pretty"></div>
    </div>
    <div class="details">
      <div class="details__link" *ngIf="osmlink">
        <a [href]="osmlink" target="_blank" (click)="trackPoiAction('edit')">
          <mat-icon>edit</mat-icon>
          Eintrag bearbeiten</a>
      </div>
      <div class="details__link" *ngIf="permalink">
        <a [href]="permalink" target="_blank" (click)="trackPoiAction('osm-link')">
          <mat-icon>link</mat-icon>
          {{permalink}}</a>
      </div>
    </div>
  </div>
</div>

