.location__detail {
  @include pull-up-card;
}

.location-detail__main {
  float: left;
  list-style-type: none;
  font-size: 16px;
  color: $color-gray;
  width: calc(100% - 100px);

  li {
    display: block;
    margin: 2px 0;
  }
}

.location-detail {
  padding-top: 20px;
}

.details__link {
  font-size: 16px;
  margin: 8px 0;
  width: 300px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;

  mat-icon {
    font-size: 16px;
    height: 16px;
    width: 16px;
  }
}
