.location__list-detail span.stars{
  position: absolute;
}
.location__list-detail div.stars {
  --star-size: 11px;
  --percent: calc(var(--rating) / 5 * 100%);
  padding-left: 5px;
  display: inline-block;
  font-size: var(--star-size);
  font-family: Times; // make sure ★ appears correctly
  line-height: 1;
  
  &::before {
      content: '★★★★★';
      letter-spacing: 1px;
      --star-background: rgba(0,0,0,0.0);
      background: linear-gradient(90deg, var(--star-color) var(--percent), var(--star-background) var(--percent));
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      position: relative;
      bottom: 2px;
  }
}

.location__list {
  @include pull-up-card;

  &.scrolling {
    overflow: scroll;
  }

  h1 {
    font-size: 20px;
    margin: 0;
  }

  @media (min-width: 768px) {
    overflow: scroll;
  }
}

.location__list-detail {
  margin: 15px 0;
  padding: 5px 0 15px 0;
  border-bottom: 1px solid #000;
  clear: both;
  height: 90px;
}
