body:after {
  content: "beta";
  position: fixed;
  width: 80px;
  height: 25px;
  background: theme-color("primary");
  top: 63px;
  right: -20px;
  text-align: center;
  font-size: 13px;
  text-transform: uppercase;
  font-weight: bold;
  color: #fff;
  line-height: 27px;
  transform: rotate(45deg);
}

.yosm__container {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.header {
  height: 57px;
  width: 100%;
  padding: 8px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #fff;
  z-index: 99;
}

.yosm__search {
  width: 50%;
  min-width: 250px;
  max-width: 500px;
}

.yosm__logo {
  height: 42px;
  display: block;
}

.search__input {
  font-size: 18px;
  font-weight: 100;
  padding: 5px;
  border-radius: 5px;
  appearance: none;
  border: 2px solid theme-color("primary");
  width: 100%;
}

.fa-crosshairs {
  opacity: 0.75;
  margin-left: -30px;

  &:hover,
  &:active,
  &:focus {
    opacity: 1;
  }
}

.map {
  width: 100%;
  height: calc(100vh - 56px);
}

.details {
  position: absolute;
  bottom: 0;
  right: 0;
  left: 0;
  background-color: theme-color("primary");
  color: theme-color("primary");
  width: 100%;
  height: 0;
  padding: 10px;
  overflow: hidden;
  transition: all 0.2s ease-in-out;

  &.active {
    height: 100px;
    color: theme-color(secondary);
  }

  h2 {
    font-weight: normal;
    text-align: center;
    font-size: 24px;
  }
}
