a,
a:hover,
a:active,
a:focus,
a:visited {
  color: $color-secondary;
}

a {
  text-decoration: underline;

  &:hover {
    text-decoration: none;
  }
}

.yosm__container {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  overflow: hidden;
}

.search__toolbar {
  z-index: 1000;
  position: absolute;
}

.search__logo-wrapper {
  width: 30px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 0 0 30px;
}

.search__logo {
  height: 30px;
  display: block;
}

.search__input {
  width: 100%;
  margin-left: 8px;
  margin-top: 4px;
  padding-right: 5px;

  .mat-form-field-label {
    color: map_get($mat-grey, 500) !important;
  }
}

.search__button {
  margin-left: -30px;
  margin-top: 6px;
  z-index: 1000;
}

.search__clear {
  color: gray;
  margin-right: 10px;
}

@keyframes rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(359deg);
  }
}

.yosm__autocomplete-wrapper {
  position: absolute;
  top: 50px;
  z-index: 1000;
}

.mat-snack-bar-handset .mat-snack-bar-container {
  margin-top: 70px !important;
}

.mat-snack-bar-container {
  @media (min-width: 768px) {
    margin-top: 70px !important;
  }
}

.yosm__filters {
  margin-top: 60px;
  z-index: 999;
}

.mat-chip-list-wrapper {
  justify-content: center;
}

.mat-chip.mat-standard-chip {
  border: 2px solid $color-primary;
}
