<div
  [class]="getClasses()"
  [style.top.px]="topPos"
  (panstart)="onPanStart($event)"
  (panmove)="onPan($event)"
  (scroll)="onScroll($event)"
>
  <div
    class="location__list-detail"
    *ngFor="let feature of scrollFeatures"
    (click)="emitSelectFeature(feature)"
    (panmove)="onPanToParent($event)"
  >
    <h1 *ngIf="feature.values_.labels['name']">{{ feature.values_.labels['name'] | slice:0:30 }}{{feature.values_.labels['name'].length > 30 ? '…' : ''}}</h1>
    <h1 *ngIf="!feature.values_.labels['name']"></h1>
    <div class="clear"></div>
    <div class="location__properties">
      <div *ngIf="feature.values_.labels['wifi']">
        <mat-icon>wifi</mat-icon>
      </div>
      <div *ngIf="feature.values_.labels['smoking'] == 'yes'">
        <mat-icon>smoking_rooms</mat-icon>
      </div>
      <div *ngIf="feature.values_.labels['smoking'] == 'no'">
        <mat-icon>smoke_free</mat-icon>
      </div>
      <div *ngIf="feature.values_.labels['vegetarian'] == 'yes'">
        <img src="assets/icons/vegetarian.svg" alt="vegetarisch" class="location__icon">
      </div>
      <div *ngIf="feature.values_.labels['wheelchair'] == 'yes'">
        <img src="assets/icons/wheelchair-accessible.svg" alt="barrierefrei" class="location__icon">
      </div>
    </div>
    <ul class="location-detail__main">
      <li>
        <span *ngIf="feature.values_.locationSubType">{{ feature.values_.locationSubType }}</span>
        <span *ngIf="feature.values_.labels['stars'] && feature.values_.labels['stars'] > 0" class="stars">
          <div class="stars" [style.--rating]="feature.values_.labels['stars']"></div>
        </span>
        <span *ngIf="feature.open_now === true"> ⋅ </span>
        <span class="location-open" *ngIf="feature.open_now === true">jetzt geöffnet</span>
      </li>
      <li *ngIf="feature.values_.labels['address']">{{ getListAddress(feature.values_.labels) }}</li>
    </ul>
  </div>
</div>
